!!!5
%html{class:'no-js', lang:"es"}
  %head
    %meta{charset:'utf-8'}
    %title The best Technology projects with JARStudio
    %link{:rel => "stylesheet", :href => "/offline/style.css"}/
    %meta{name:"description", content:"Come rico en el mejor restaurant de la ciudad, servicio de primera."}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %p#message It seems that we could not connect to the internet, there is no problem, here the information you need
    .container
      %h1 JARStudio
      %p
        %strong Address
        Av Paseo de la Reforma 50, Miguel Hidalgo, 11580
        Ciudad de Mexico, D.F
      %p
        %strong Schedule
        5pm - 11pm
      %p
        %strong Phone
        771-131-311-44
      %p
        %strong Description
        We try to change the Mexican country for good by developing a variety of projects for the common good
      #map
        %img{:src => "/offline/mapoff.png"}
        %p This map offers references of the offices of JARStudio